In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r"C:\Users\trainee7\Desktop\owais usman\rasa_file.csv")

In [3]:
data

                               text    intent
0                        about what     about
1                what is this about     about
2      what do you wanna talk about     about
3                  what do you want     about
4                how can i help you     about
..                              ...       ...
261  do I have to do this right now  callback
262   I don’t want to do  this now   callback
263       I cant do this right now   callback
264   i need to speak with my wife   callback
265   give me a number to callback.  callback

[266 rows x 2 columns]

In [4]:
df= data.copy()

In [5]:
df.head()

                           text intent
0                    about what  about
1            what is this about  about
2  what do you wanna talk about  about
3              what do you want  about
4            how can i help you  about

In [6]:
df.tail()

                               text    intent
261  do I have to do this right now  callback
262   I don’t want to do  this now   callback
263       I cant do this right now   callback
264   i need to speak with my wife   callback
265   give me a number to callback.  callback

In [7]:
df.shape

(266, 2)

In [8]:
df.value_counts()

text                      intent
no thank you              negative    2
call me some other time   callback    2
ummm                      positive    1
what do I have to do ?    balance     1
what did you say          repeat      1
                                     ..
go ahead                  positive    1
go on                     positive    1
hello                     positive    1
hey                       positive    1
yup                       positive    1
Length: 264, dtype: int64

In [11]:
df.isnull().any()

text      False
intent    False
dtype: bool

In [10]:
df.isna().any()

text      False
intent    False
dtype: bool

In [12]:
df['text'].duplicated().any()

True

In [13]:
 df['text'].duplicated().value_counts()

False    260
True       6
Name: text, dtype: int64

In [14]:
 df['text'].drop_duplicates()

0                          about what
1                  what is this about
2        what do you wanna talk about
3                    what do you want
4                  how can i help you
                    ...
261    do I have to do this right now
262     I don’t want to do  this now
263         I cant do this right now
264     i need to speak with my wife
265     give me a number to callback.
Name: text, Length: 260, dtype: object

In [15]:
df.shape

(266, 2)

In [16]:
df.drop_duplicates(subset=['text'])

                               text    intent
0                        about what     about
1                what is this about     about
2      what do you wanna talk about     about
3                  what do you want     about
4                how can i help you     about
..                              ...       ...
261  do I have to do this right now  callback
262   I don’t want to do  this now   callback
263       I cant do this right now   callback
264   i need to speak with my wife   callback
265   give me a number to callback.  callback

[260 rows x 2 columns]

In [17]:
 df['intent'].duplicated().value_counts()

True     246
False     20
Name: intent, dtype: int64

In [19]:
df['intent'].value_counts()

positive              32
negative              27
callback              24
info                  17
liveperson            16
about                 15
paperwork             14
howthisprocesswork    13
companyname           13
location              12
cost                  11
repeat                10
name                  10
balance               10
qualified              9
program                8
catch                  8
workfor                7
sales                  6
transfer               4
Name: intent, dtype: int64